In [1]:
from surprise import Dataset
from surprise import Reader
import pandas as pd
import numpy as np
import random
import nltk
import re
from unidecode import unidecode

In [2]:
pd.options.display.max_rows = 5000

# Spark initialization

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import count, avg

from pyspark.serializers import MarshalSerializer
from pyspark.context import SparkContext
sc = SparkContext("local", "serialization app", serializer = MarshalSerializer())
spark = SparkSession(sc)
spark.sparkContext is sc

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
21/12/19 18:49:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

True

In [3]:
p = 1
df = pd.read_csv('./data/spotify_dataset.csv', on_bad_lines='skip')
df.dropna(inplace=True)

In [4]:
df.columns = df.columns.str.replace('"', '')
df.columns = df.columns.str.replace('name', '')
df.columns = df.columns.str.replace(' ', '')

In [5]:
def clean_artist(text):
    text = (str(text)).lower()
    tok = nltk.RegexpTokenizer(r"\w+")
    word = " ".join(tok.tokenize(text))
    text = unidecode(word)
    FEAT_PAT = re.compile(r"[\s\S]+[\s]+(feat\.|ft\.|featuring|ft|feat)[\s]+[\s\S]+")
    AMP_PAT = re.compile(r"[\s\S]*(&|and|\+)[\s\S]*")
    #check if we have featured artist
    if FEAT_PAT.match(text):
        text = re.split(r"feat\.|ft\.|featuring|ft|feat", text)[0]
    
    #Remove & from all artists
    if AMP_PAT.match(text):
        text = re.split(r"&", text)[0]
    w="".join(text.split(" "))
    text=w
    return text.strip()

In [7]:
df['clean_artist'] = df['artist'].apply(clean_artist)

In [24]:
df.to_csv('./data/cleaned_df.csv', index=False)

In [4]:
spark_df = spark.read.csv("./data/cleaned_df.csv", header=True)

# Get frequencies of artists by user

In [5]:
spark_df_agg = spark_df.groupBy('user_id', 'clean_artist').agg(count('*'))

In [62]:
spark_df_agg=spark_df_agg.withColumnRenamed("count(1)","freq")

In [63]:
spark_df_agg.show(2)

+--------------------+------------+----+
|             user_id|clean_artist|freq|
+--------------------+------------+----+
|944c80d26922ae634...|  jackpenate|   2|
|944c80d26922ae634...|    froufrou|   1|
+--------------------+------------+----+
only showing top 2 rows

In [34]:
clean_df = clean_df.astype(str)

In [38]:
clean_df.to_csv('./data/hugo_df.csv', index=False)

In [39]:
spark_clean_df = spark.read.csv('./data/hugo_df.csv', header=True)

In [43]:
spark_clean_df.show(2)

+--------------------+---------+--------------------+
|             user_id|artist_id|        clean_artist|
+--------------------+---------+--------------------+
|9cc0cfd4d7d788510...|        0|       elviscostello|
|9cc0cfd4d7d788510...|        1|elviscostellothea...|
+--------------------+---------+--------------------+
only showing top 2 rows

In [64]:
combined_df = spark_df_agg.join(spark_clean_df, 
                                (spark_df_agg.clean_artist==spark_clean_df.clean_artist) & \
                                 (spark_df_agg.user_id==spark_clean_df.user_id),
                                'inner').select(spark_df_agg.user_id, spark_df_agg.clean_artist, spark_df_agg.freq, spark_clean_df.artist_id)

In [57]:
spark_df_agg.createOrReplaceTempView("s_agg")
spark_clean_df.createOrReplaceTempView("s_clean")

In [58]:
join_df = spark.sql("select * from s_agg s1, s_clean s2 where s1.clean_artist==s2.clean_artist;")

In [65]:
combined_df.count()

12855354

In [93]:
combined_df.show(2)

java.lang.NullPointerException

# 1).given user_id, return all of its songs

In [90]:
def get_all_songs(view, user_id):
    res = list(spark_df_agg.filter(spark_df_agg['user_id'] == user_id).select('clean_artist').toPandas()['clean_artist'])
#     mvv_list = list(
#         tableA.select('clean_artist').toPandas()['clean_artist']
#     )
#     res = list(spark.sql(f"SELECT clean_artist from tableA where user_id='{user_id}';").toPandas())
     
    return res

In [91]:
# res_list = [i.clean_artist for i in get_all_songs('00055176fea33f6e027cd3302289378b')]
res_list = get_all_songs('00055176fea33f6e027cd3302289378b')

res_list

Py4JError: functions does not exist in the JVM -- py4j.Py4JException: Method equalTo([class java.lang.String]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)

# 2).given artist_id, return the corresponding unique artist

In [49]:
spark_clean_df.count()

12856838

In [50]:
spark_df_agg.count()

3256666

# Get all artists for user 00055176fea33f6e027cd3302289378b

In [85]:
spark_df_agg.createOrReplaceTempView("tableA")

In [7]:
spark.sql("SELECT clean_artist from tableA where user_id='00055176fea33f6e027cd3302289378b'").show()

+----------------+
|    clean_artist|
+----------------+
|           auryn|
|           bmike|
|    thecatempire|
|        thevamps|
|        ollymurs|
|       littlemix|
|    austinmahone|
|        blink182|
|       beamiller|
|      simpleplan|
|  christinaperri|
|     onerepublic|
|5secondsofsummer|
|      jakemiller|
|   meghantrainor|
|    jannikbrunke|
|         thefray|
|          beckyg|
|       cimorelli|
|  abigailbreslin|
+----------------+
only showing top 20 rows

# Create a lookup table

In [4]:
sc.stop()

In [48]:
size = lambda x: len(x)
df_freq = df.groupby(['user_id', 'artist']).agg('size').reset_index().rename(columns={0:'freq'})[['user_id', 'artist', 'freq']].sort_values(['freq'], ascending=False)
df_freq.head()

                                  user_id                  artist  freq
2870626  defced0ece4ce946160b0d2698142eac  Vitamin String Quartet  3346
502897   26b51e580277e131f87e4c7ee4c0887a  Vitamin String Quartet  3306
844217   414050deadb38aafd8d4ad22ca634055  Vitamin String Quartet  2587
2798380  d993ff8f2de226e2c6803e47a22e9d7e         Lata Mangeshkar  2281
22579    014e695cc6df96011b90a5beb3206012             Ilaiyaraaja  2242

In [63]:
a = df_freq.artist.unique().tolist()
print(len(a))

289821

In [83]:
import re
remove_ft = r"[\s\S]+[\s]+(feat\.|ft\.|featuring|ft|feat)[\s]+[\s\S]+"
r = re.compile(remove_ft, re.IGNORECASE)

filtered_list = list(filter(r.match, a))

print(len(filtered_list))

13717

# Checks df for artist. Get's top 5 songs for each artist

In [55]:
def get_top5_songs(artist):
    
    return list(df[df['artist'] == artist]['track'].value_counts()[0:5].index)
#     songs = df.loc[df.arist]

In [56]:
get_top5_songs('David Cochran Heath')

['Psalm 63', 'Psalm 4', 'Psalm 114', 'Psalm 126', 'Job 2']

key:'kanye west'
value: ['gold digger', 'stronger', 'sdafasdf','fasdasdf', 'i miss kim'] *list should be sorted in decr order of frequency of song in database

In [23]:
clean_df = pd.read_csv('./data/cleaned_df.csv')

In [25]:
artist= pd.unique(clean_df['clean_artist'].values.ravel())
artist = pd.Series(np.arange(len(artist)), artist)
clean_df["artist_id"] = clean_df[['clean_artist']].applymap(artist.get)

In [28]:
clean_df = clean_df[['user_id','artist_id', 'clean_artist']]

In [11]:
artist_track_df = pd.DataFrame(df_freq["artist_id"].unique(), columns = ["artist_id"])

In [12]:
artist_track_df["artist"] = df_freq["artist"].unique()
df_freq.drop('artist', axis=1, inplace=True)
df_freq.head()

                            user_id  freq  artist_id
0  00055176fea33f6e027cd3302289378b    10        713
1  00055176fea33f6e027cd3302289378b     1     132909
2  00055176fea33f6e027cd3302289378b     3       7994
3  00055176fea33f6e027cd3302289378b     8        698
4  00055176fea33f6e027cd3302289378b     1       8100

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(1,5))

In [14]:
df_freq[["freq"]] = scaler.fit_transform(df_freq[["freq"]])
df_freq.head()

                            user_id      freq  artist_id
0  00055176fea33f6e027cd3302289378b  1.010762        713
1  00055176fea33f6e027cd3302289378b  1.000000     132909
2  00055176fea33f6e027cd3302289378b  1.002392       7994
3  00055176fea33f6e027cd3302289378b  1.008371        698
4  00055176fea33f6e027cd3302289378b  1.000000       8100

In [15]:
reader = Reader(rating_scale=(1, 5))

In [16]:
data = Dataset.load_from_df(df_freq[['user_id', 'artist_id', 'freq']], reader)

In [17]:
from surprise.model_selection import cross_validate
from surprise import NormalPredictor

In [18]:
# from surprise import SVD
# from surprise.model_selection import KFold
# from surprise import accuracy
# # define a cross-validation iterator
# kf = KFold(n_splits=5)
# algo = SVD()
# for trainset, testset in kf.split(data):
#     # train and test algorithm.
#     algo.fit(trainset)
#     predictions = algo.test(testset)
#     # Compute and print Root Mean Squared Error
#     accuracy.rmse(predictions, verbose=True)

# Let's try to get predictions from SVD

In [19]:
from surprise import SVD
from surprise.model_selection import cross_validate

In [21]:
svd = SVD(verbose=True, n_epochs=50)

In [23]:
cross_validate(svd, data, measures=['RMSE'], cv=2, verbose=True)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Processing epoch 20
Processing epoch 21
Processing epoch 22
Processing epoch 23
Processing epoch 24
Processing epoch 25
Processing epoch 26
Processing epoch 27
Processing epoch 28
Processing epoch 29
Processing epoch 30
Processing epoch 31
Processing epoch 32
Processing epoch 33
Processing epoch 34
Processing epoch 35
Processing epoch 36
Processing epoch 37
Processing epoch 38
Processing epoch 39
Processing epoch 40
Processing epoch 41
Processing epoch 42
Processing epoch 43
Processing epoch 44
Processing epoch 45
Processing epoch 46
Processing epoch 47
Processing epoch 48
Processing epoch 49
Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Processing epoch 20
Processing epoch 21
Processing epoch 22
Processing epoch 23
Processing epoch 24
Processing epoch 25
Processing epoch 26
Processing epoch 27
Processing epoch 28
Processing epoch 29
Processing epoch 30
Processing epoch 31
Processing epoch 32
Processing epoch 33
Processing epoch 34
Processing epoch 35
Processing epoch 36
Processing epoch 37
Processing epoch 38
Processing epoch 39
Processing epoch 40
Processing epoch 41
Processing epoch 42
Processing epoch 43
Processing epoch 44
Processing epoch 45
Processing epoch 46
Processing epoch 47
Processing epoch 48
Processing epoch 49
Evaluating RMSE of algorithm SVD on 2 split(s).

                  Fold 1  Fold 2  Mean    Std
RMSE (testset)    0.0226  0.0228  0.0227  0.0001
Fit time          287.26  282.93  285.10  2.17
Test time         21.07   20.04   20.55   0.51

{'test_rmse': array([0.02259635, 0.02275703]),
 'fit_time': (287.2614200115204, 282.93003702163696),
 'test_time': (21.067522048950195, 20.038546085357666)}

In [24]:
trainset = data.build_full_trainset()
svd.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19
Processing epoch 20
Processing epoch 21
Processing epoch 22
Processing epoch 23
Processing epoch 24
Processing epoch 25
Processing epoch 26
Processing epoch 27
Processing epoch 28
Processing epoch 29
Processing epoch 30
Processing epoch 31
Processing epoch 32
Processing epoch 33
Processing epoch 34
Processing epoch 35
Processing epoch 36
Processing epoch 37
Processing epoch 38
Processing epoch 39
Processing epoch 40
Processing epoch 41
Processing epoch 42
Processing epoch 43
Processing epoch 44
Processing epoch 45
Processing epoch 46
Processing epoch 47
Processing epoch 48
Processing epoch 49

In [26]:
preds = list()
for id in df_freq.artist_id.values:
    preds.append(svd.predict(uid="00055176fea33f6e027cd3302289378b", iid=id))

In [ ]:
# x = sorted(df_freq.freq.unique())
# x

In [28]:
preds = sorted(preds, key=lambda x: x.est, reverse=True)

In [31]:
preds[:20]

[Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=101477, r_ui=None, est=1.5538967097253304, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=178381, r_ui=None, est=1.3791580882855914, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=223686, r_ui=None, est=1.3313269161235857, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=121377, r_ui=None, est=1.3281007145895454, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=121377, r_ui=None, est=1.3281007145895454, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=121377, r_ui=None, est=1.3281007145895454, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=84281, r_ui=None, est=1.316889910667271, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=244635, r_ui=None, est=1.3082158658937266, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False}),
 Prediction(uid='00055176fea33f6e027cd3302289378b', iid=43362, r_ui=None, est=1.3057835861667662, details={'was_impossible': False})]

In [33]:
#unique preds
unique_preds = list()
iid=[]
for pred in preds:
    if pred.iid not in iid:
        iid.append(pred.iid)

KeyboardInterrupt:

In [34]:
iid=[]
for pred in preds:
    iid.append(pred.iid)

In [47]:
iid=list(dict.fromkeys(iid))
iid

[101477,
 178381,
 223686,
 121377,
 84281,
 244635,
 43362,
 123507,
 224889,
 261475,
 266738,
 257963,
 68500,
 86231,
 116406,
 4464,
 149368,
 262771,
 233305,
 220779,
 81422,
 61778,
 272520,
 224165,
 62078,
 268459,
 278478,
 250606,
 48657,
 155322,
 122788,
 283426,
 82308,
 191461,
 79925,
 244073,
 250219,
 163138,
 180701,
 92246,
 120921,
 81851,
 263967,
 103438,
 187726,
 53895,
 16345,
 53726,
 113000,
 232530,
 251306,
 214627,
 150341,
 30428,
 107038,
 155492,
 230676,
 82318,
 222471,
 183101,
 190873,
 212105,
 243382,
 212727,
 9674,
 152522,
 116774,
 232548,
 256318,
 248524,
 18044,
 217074,
 261198,
 146576,
 168880,
 107784,
 237683,
 140525,
 60857,
 250525,
 103386,
 267221,
 151915,
 135931,
 230085,
 263283,
 213624,
 157307,
 289153,
 220197,
 101785,
 171093,
 102066,
 220229,
 163388,
 32868,
 8281,
 128006,
 7049,
 69260,
 59196,
 228122,
 216184,
 172940,
 128867,
 184892,
 269440,
 200830,
 131616,
 140437,
 84910,
 96021,
 273284,
 167891,
 224347,
 216650,
 260985,
 256207,
 157246,
 279196,
 186111,
 40667,
 33261,
 128299,
 273981,
 119491,
 182657,
 127788,
 76302,
 77057,
 95599,
 7606,
 123903,
 239245,
 240768,
 169101,
 149777,
 108419,
 283472,
 182466,
 27447,
 64372,
 7782,
 111731,
 208006,
 130813,
 274488,
 48720,
 266634,
 222326,
 282406,
 156509,
 98476,
 153728,
 126381,
 78906,
 263675,
 123730,
 243946,
 122441,
 215136,
 130497,
 186150,
 224597,
 146621,
 215814,
 168159,
 207243,
 31155,
 91145,
 230865,
 115566,
 161345,
 156234,
 71271,
 35984,
 193270,
 41639,
 47708,
 238139,
 239319,
 38828,
 129480,
 42923,
 190432,
 70587,
 166224,
 64201,
 128942,
 260455,
 147023,
 211575,
 46920,
 99499,
 116842,
 112008,
 54129,
 52300,
 242434,
 274109,
 182064,
 108706,
 204645,
 54903,
 239953,
 147537,
 271886,
 289517,
 56010,
 106367,
 106821,
 215282,
 216673,
 236837,
 280701,
 168102,
 180971,
 95685,
 85061,
 102822,
 279734,
 234623,
 201939,
 219496,
 87996,
 182543,
 159303,
 277416,
 171943,
 95439,
 32774,
 270687,
 287382,
 205713,
 253587,
 243816,
 231496,
 253607,
 199826,
 287813,
 39838,
 187957,
 175423,
 170892,
 96438,
 26617,
 64859,
 55290,
 256224,
 70635,
 270529,
 190725,
 130660,
 130255,
 107465,
 119661,
 288063,
 254667,
 230423,
 233451,
 164225,
 26981,
 215786,
 238618,
 158897,
 26423,
 112086,
 275533,
 147935,
 146178,
 8853,
 168055,
 39836,
 136295,
 72917,
 174290,
 12602,
 199684,
 286367,
 60232,
 60153,
 151571,
 270749,
 92868,
 120707,
 261427,
 59508,
 230051,
 166405,
 267875,
 40687,
 254278,
 184054,
 143361,
 201669,
 187574,
 172880,
 78011,
 63895,
 16211,
 245843,
 174996,
 66740,
 226398,
 107938,
 186209,
 207304,
 150484,
 182176,
 215957,
 259289,
 196030,
 81900,
 253040,
 286682,
 192213,
 71892,
 237803,
 147815,
 193360,
 175117,
 38376,
 182786,
 63137,
 242940,
 180436,
 246702,
 245832,
 194508,
 48016,
 286118,
 20153,
 37096,
 138193,
 190905,
 228826,
 146249,
 259249,
 190253,
 71810,
 62957,
 192565,
 104982,
 177700,
 115891,
 67267,
 102159,
 221770,
 173003,
 148310,
 285882,
 121843,
 267176,
 185800,
 33909,
 233965,
 215173,
 191465,
 216404,
 38033,
 137286,
 223986,
 105273,
 73393,
 280824,
 227646,
 187180,
 85465,
 276738,
 113476,
 78779,
 99899,
 196237,
 228,
 73344,
 99994,
 247685,
 237098,
 255972,
 45123,
 37128,
 80610,
 16710,
 246781,
 60781,
 95539,
 211817,
 103146,
 94753,
 123897,
 154589,
 136924,
 142824,
 231910,
 272341,
 76966,
 81970,
 140209,
 249758,
 134121,
 234890,
 109112,
 231366,
 168449,
 155749,
 128396,
 95046,
 75181,
 137428,
 282928,
 93367,
 243513,
 73570,
 101357,
 55788,
 283186,
 20568,
 279370,
 191360,
 204032,
 222365,
 224020,
 287622,
 208272,
 120355,
 145725,
 155032,
 204178,
 121715,
 223360,
 83205,
 121328,
 144944,
 135554,
 60916,
 245588,
 270810,
 189696,
 276019,
 38103,
 282420,
 189749,
 104345,
 262942,
 260065,
 93576,
 277915,
 215479,
 281187,
 179451,
 69565,
 242641,
 270476,
 186604,
 251852,
 268530,
 168129,
 76970,
 267756,
 232613,
 273480,
 197848,
 187277,
 174656,
 45721,
 265579,
 173678,
 142433,
 243339,
 19619,
 45640,
 241121,
 219584,
 154321,
 257386,
 58580,
 167503,
 270042,
 171220,
 67485,
 77983,
 14859,
 98277,
 242825,
 246231,
 289075,
 119420,
 283086,
 102112,
 8252,
 196140,
 48180,
 223735,
 138358,
 12942,
 183333,
 7101,
 268778,
 240955,
 218627,
 97315,
 135066,
 134103,
 122686,
 47642,
 73074,
 253423,
 132142,
 156057,
 285388,
 104846,
 207918,
 175593,
 244578,
 137677,
 205955,
 93200,
 79056,
 14787,
 173477,
 119435,
 271362,
 175653,
 123950,
 44295,
 42832,
 19823,
 227380,
 130295,
 272737,
 164833,
 181673,
 278145,
 162741,
 150530,
 134613,
 231807,
 216475,
 232943,
 153800,
 268277,
 235971,
 285228,
 77292,
 89061,
 189619,
 189795,
 20097,
 248887,
 237671,
 110206,
 8543,
 171682,
 159907,
 267057,
 102451,
 191593,
 238832,
 128200,
 271551,
 99771,
 273561,
 223123,
 53909,
 228282,
 74723,
 189046,
 211672,
 283644,
 218590,
 65093,
 168404,
 131422,
 145446,
 45163,
 115243,
 138494,
 135169,
 264428,
 132155,
 33227,
 97321,
 132405,
 13859,
 250849,
 252770,
 224251,
 115017,
 76729,
 274690,
 212165,
 275752,
 155184,
 150585,
 237326,
 87804,
 28980,
 193226,
 136806,
 258007,
 244170,
 251098,
 138914,
 109630,
 144605,
 164495,
 146574,
 84747,
 235950,
 12167,
 124381,
 244682,
 218774,
 60525,
 195380,
 222347,
 233044,
 98028,
 143719,
 23258,
 202852,
 115206,
 55874,
 217273,
 63129,
 137918,
 179910,
 163665,
 212002,
 21047,
 179203,
 119402,
 214568,
 144329,
 166257,
 220960,
 106998,
 137831,
 234737,
 270557,
 154521,
 107431,
 153163,
 215642,
 241054,
 114973,
 50089,
 265739,
 29258,
 138323,
 145254,
 111984,
 251200,
 54610,
 41519,
 268199,
 177371,
 89672,
 15082,
 240112,
 259001,
 152245,
 136117,
 140597,
 39054,
 227417,
 212210,
 278340,
 193574,
 269323,
 269268,
 129162,
 116343,
 126403,
 14941,
 258490,
 152448,
 208223,
 99696,
 210870,
 140370,
 264637,
 155606,
 244480,
 123494,
 251033,
 201760,
 274211,
 212968,
 244603,
 19372,
 31304,
 176644,
 157755,
 23612,
 273738,
 126803,
 176164,
 251889,
 258059,
 152305,
 158970,
 51882,
 78373,
 254239,
 185216,
 197286,
 255588,
 41699,
 130595,
 237292,
 57920,
 164210,
 216709,
 104491,
 155128,
 34620,
 68243,
 227358,
 277297,
 170100,
 103138,
 180199,
 172137,
 43952,
 219452,
 116997,
 72713,
 88962,
 61151,
 59254,
 143660,
 99165,
 52611,
 149256,
 113071,
 189199,
 103922,
 267109,
 86099,
 153473,
 45416,
 201652,
 249313,
 270143,
 274395,
 139089,
 170738,
 41522,
 77894,
 220026,
 282878,
 221680,
 262143,
 282952,
 139998,
 276042,
 246324,
 82225,
 23054,
 213930,
 267172,
 101295,
 275007,
 55056,
 259907,
 193445,
 103472,
 235874,
 71706,
 12853,
 252903,
 191139,
 285139,
 132031,
 66689,
 48166,
 236034,
 193906,
 159867,
 49085,
 222196,
 76659,
 70764,
 271952,
 186299,
 234122,
 27842,
 186928,
 180726,
 46015,
 1239,
 234014,
 269662,
 103894,
 258878,
 140018,
 3858,
 278993,
 89650,
 164841,
 35327,
 63585,
 225696,
 286078,
 197404,
 198754,
 180534,
 103691,
 162124,
 191299,
 238911,
 198366,
 257679,
 66777,
 188845,
 133042,
 156475,
 278471,
 80631,
 136848,
 145469,
 12018,
 153192,
 195733,
 172541,
 204530,
 114576,
 254794,
 51385,
 95765,
 284437,
 139310,
 279750,
 203928,
 151510,
 194024,
 270465,
 44888,
 288051,
 155641,
 170005,
 285062,
 279410,
 251728,
 146471,
 67875,
 72582,
 171636,
 82946,
 46578,
 213716,
 276379,
 119175,
 197399,
 48337,
 288380,
 221671,
 167956,
 256090,
 67083,
 59295,
 269138,
 280070,
 113351,
 192167,
 100776,
 215443,
 130339,
 269220,
 58461,
 54993,
 159763,
 211994,
 136273,
 264202,
 165863,
 76444,
 120794,
 136330,
 32464,
 8533,
 217337,
 118300,
 206310,
 224773,
 251223,
 150256,
 110989,
 229338,
 6211,
 63242,
 232007,
 133380,
 210063,
 228505,
 215989,
 28832,
 146402,
 168907,
 162902,
 200442,
 239205,
 50085,
 169005,
 125556,
 204714,
 77177,
 120160,
 19083,
 164351,
 111021,
 245717,
 91988,
 195352,
 149711,
 244565,
 203857,
 271971,
 130936,
 95066,
 129175,
 228780,
 199063,
 6878,
 207700,
 220840,
 105141,
 31748,
 208147,
 60505,
 230733,
 252272,
 72382,
 147108,
 130669,
 138673,
 211229,
 129403,
 243928,
 74667,
 59610,
 50679,
 229080,
 220760,
 168541,
 188226,
 257755,
 220819,
 140109,
 131119,
 60108,
 254926,
 225853,
 26611,
 21340,
 189252,
 256365,
 180008,
 232522,
 227683,
 142210,
 281237,
 181376,
 152590,
 102178,
 86004,
 143793,
 259834,
 113412,
 69836,
 115727,
 274920,
 164382,
 215078,
 185035,
 84980,
 205705,
 67580,
 83468,
 279354,
 105295,
 286004,
 238861,
 214331,
 55821,
 76984,
 105884,
 229568,
 248933,
 7944,
 10831,
 205533,
 264015,
 52065,
 193499,
 128476,
 160499,
 15132,
 164912,
 ...]

In [46]:
for i in iid[:5]:
    print(artist_track_df.loc[artist_track_df.artist_id==i].artist)

61358    Jamey Aebersold Play-A-Long
Name: artist, dtype: object
187737    David Cochran Heath
Name: artist, dtype: object
150305    Kurt Prestel
Name: artist, dtype: object
129571    Conlon Nancarrow
Name: artist, dtype: object
258621    Clipse ft. AB-Liva & Rosco P Goldchain
Name: artist, dtype: object

# Training with surprise

In [ ]:
def get_testset_accuracy(testset):
    total_matches = 0
    for item in testset:
        uid = item[0]
        preds = []
        for id in df_freq.artist_id.values:
            preds.append(svd.predict(uid=uid, iid=id))
        iid=[]
        for pred in preds:
            iid.append(pred.iid)
        iid=list(dict.fromkeys(iid))
        predicted_artists = set()
        for i in iid[:30]:
            artist = artist_df.loc[artist_df.artist_id == i].artist.values[0]
            predicted_artists.add(artist)
        known_artists = list(set(df.loc[df["user_id"] == uid].artist.values))
        #print(len(known_artists))
        total_matches += len(predicted_artists.intersection(known_artists))
    print(total_matches / (30 * len(testset)))